{% extends 'Owner/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
    <div id="tab">
        <br>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <td>Si No</td>
                <td>Date</td>
                <td>Username</td>
                <td>Contact</td>
                <td>Email</td>
                <td>RentType</td>
                <td>Rent Name</td>
                <td>Image</td>
                <td>Amount</td>
                <td>From date</td>
                <td>To date</td>
                <td>Action</td>
            </tr>
            {% for i in BOOK %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.booking_date}}</td>
                <td>{{i.user_id.user_name}}</td>
                <td>{{i.user_id.user_contact}}</td>
                <td>{{i.user_id.user_email}}</td>
                <td>{{i.rent_id.renttype_id.renttype_name}}</td>
                <td>{{i.rent_id.rent_name}}</td>
                <td><img src="{{i.rent_id.rent_image.url}}" alt="img" width="120px" height="120px"></td>
                <td>{{i.rent_id.rent_amount}}</td>
                <td>{{i.booking_fromdate}}</td>
                <td>{{i.booking_todate}}</td>
                <td>
                    {% if i.booking_status == 0 %}
                    <p><a href="{% url 'owner:accept' i.id %}">Accept</a></p>
                    <p><a href="{% url 'owner:reject' i.id %}">Reject</a></p>
                    {% elif i.booking_status == 1 %}
                    <p>Accepted</p>
                    {% else %}
                    <p>Rejected!!</p>
                    {% endif %}
                    
            </td>
            </tr>
            {% endfor %}
    </form>
    </div>
</table>
</body>
</html>

<br><br><br><br><br><br><br><br>
{% endblock content %}