{% extends 'User/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
    <div id="tab">
        <br>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" value="{{EP.user_name}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="cnct" value="{{EP.user_contact}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="mail" value="{{EP.user_email}}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="textaddress"  cols="30" rows="10">{{EP.user_address}}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="button" value="update">
                    <input type="reset" name="button" value="cancel">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
{% endblock content %}