{% extends 'Subadmin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" border="2">
        <tr>
            <td>Current password</td>
            <td><input type="password" name="txt_pwd" id=""></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="password" name="txt_npwd" id=""></td>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input type="password" name="txt_cpwd" id=""></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Change">
                <input type="reset" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
{% endblock content %}