{% extends 'guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txtname"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="mail"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_pwd"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="save" value="SAVE">
                <input type="reset" name="cancel" value="CANCEL"></td>
            </tr>
        </table>