{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
    <u><center><h3><b style="font-family: 'Times New Roman', Times, serif;">FEEDBACK</b></h3></center></u>
    <br><br><br>
    <div id="tab" align="center">
        <br><br>
    <u><h2><b>Userfeedback</b></h2></u>
    <br><br>
        <table border="1">
            <tr>
                <td>Si No</td>
                <td>Date</td>
                <td>Username</td>
                <td>feedback</td>
                <td>Action</td>
            </tr>
            {% for i in USR %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.feedback_date}}</td>
                <td>{{i.user_id.user_name}}</td>
                <td>{{i.feedback_content}}</td>
                <td>
                    <a href="{% url 'webadmin:delfeed' i.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <u><h2><b>Owner Feedback</b></h2></u>
    <br><br>
        <table border="1">
            <tr>
                <td>Si No</td>
                <td>Date</td>
                <td>Ownername</td>
                <td>Feedback</td>
                <td>Action</td>
            </tr>
            {% for i in OWR %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.feedback_date}}</td>
                <td>{{i.owner_id.owner_name}}</td>
                <td>{{i.feedback_content}}</td>
                <td>
                    <a href="{% url 'webadmin:delfeed' i.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <u><h2><b>Officer Feedback</b></h2></u>
        <br><br>
            <table border="1">
                <tr>
                    <td>Si No</td>
                    <td>Date</td>
                    <td>Ownername</td>
                    <td>Feedback</td>
                    <td>Action</td>
                </tr>
                {% for i in OFCR %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.feedback_date}}</td>
                    <td>{{i.officer_id.officer_name}}</td>
                    <td>{{i.feedback_content}}</td>
                    <td>
                        <a href="{% url 'webadmin:delfeed' i.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </form>
</body>
</html>
{% endblock content %}